@import "tailwindcss";

/* *{
    padding: 0;
    margin: 0;
} */

body{
  background: #F7F7F7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  width: 100%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
  color: #2e2e2e;
  margin-top: 60px;
}

.title span {
  padding-bottom: 16px;
  border-bottom: 1px solid #dedede;
  width: 188px;
}

.title span:hover {
  color: #DD783F;
}


